        <footer class="main-footer footer-type-1 text-xs">
            <div id="footer-tools" class="d-flex flex-column">
                <a href="javascript:" id="go-to-up" class="btn rounded-circle go-up m-1" rel="go-top">
                    <i class="iconfont icon-to-up"></i>
                </a>
                <!-- 右下角搜索  -->
                <a href="javascript:" data-toggle="modal" data-target="#search-modal" class="btn rounded-circle m-1"
                    rel="search" one-link-mark="yes">
                    <i class="iconfont icon-search"></i>
                </a>
                <a href="https://www.yuque.com/shenweiyan" class="btn rounded-circle kefu m-1" target="_blank" data-toggle="tooltip" data-placement="left" title="联系我们">
                    <i class="mode-ico iconfont icon-qq"></i>
                </a>
                <!-- 右下角搜索 end -->
                
                <a href="javascript:" onclick="window.location.href='javascript:switchNightMode()'" class="btn rounded-circle switch-dark-mode m-1" id="yejian"
                    data-toggle="tooltip" data-placement="left" title="夜间模式">
                    <i class="mode-ico iconfont icon-light"></i>
                </a>
            </div>
            <div class="footer-inner">
                <div class="footer-text">{{ replace $.Site.Params.footer.copyright "{year}" now.Year | markdownify }}</div>
            </div>
        </footer>
    </div><!-- main-content end -->
</div><!-- page-container end -->
