<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#f9f9f9">
    <title>{{ .Site.Title }}</title>
    <link rel="shortcut icon" href="{{ $.Site.Params.images.favicon }}">
    <meta name="keywords" content="{{ .Site.Title }}">
    {{ if $.Site.Params.seo.baiduSiteVer }}
    <meta name="baidu-site-verification" content="{{ $.Site.Params.seo.baiduSiteVer }}" />
    {{ end }}
    <link rel='stylesheet' id='block-library-css' href='{{ $.Site.Params.siteurl }}/assets/css/block-library.min-5.6.2.css' type='text/css' media='all'>
    <link rel='stylesheet' id='iconfont-css' href='{{ $.Site.Params.siteurl }}/assets/css/iconfont-3.03029.1.css' type='text/css' media='all'>
    <link rel='stylesheet' id='bootstrap-css' href='{{ $.Site.Params.siteurl }}/assets/css/bootstrap.min-4.3.1.css' type='text/css' media='all'>
    <link rel='stylesheet' id='fancybox-css' href='{{ $.Site.Params.siteurl }}/assets/css/fancybox.min-3.5.7.css' type='text/css' media='all'>
    <link rel='stylesheet' id='iowen-css' href='{{ $.Site.Params.siteurl }}/assets/css/style-3.03029.1.css' type='text/css' media='all'>
    <link rel='stylesheet' id='custom-css' href='{{ $.Site.Params.siteurl }}/assets/css/custom-style.css' type='text/css' media='all'>
    <link rel="stylesheet" id="fortawesome-css" href="{{ $.Site.Params.siteurl }}/assets/fontawesome-5.15.4/css/all.min.css" type="text/css">
    <script type='text/javascript' src='{{ $.Site.Params.siteurl }}/assets/js/jquery.min-3.2.1.js' id='jquery-js'></script>
    <script type='text/javascript' src='{{ $.Site.Params.siteurl }}/assets/js/content-search.js' id='content-search-js'></script>
    <!-- 百度统计 -->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?{{ $.Site.Params.seo.baiduhmid }}";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <!-- end 百度统计 -->   
</head>
